doctor {
    color: rgb(254, 254, 254);
    width: 45%;
    margin-top: 2%;
    margin-left:20%;
    background-image: url(ScreenShots\team-young-specialist-doctors-standing-corridor-hospital_1303-21199.webp);
}
name, special, sp2, description,years 
{
    display : block;
    font-size: large;
    
}

h1{
    text-align: center;
    font-size:27px;
}
